*{margin: 0; padding: 0; box-sizing: border-box;}
body{
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    background: #fff;
    font-size: 1.2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}
button{
    border: none;
    border-radius: 4rem;
    background: rgba(29, 161, 242, 1);
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    outline: none;
    cursor: pointer;
    line-height: 2.5;
    width: 100%;
    height: 49px;
}
button:hover{
    filter: brightness(0.95);
}
#form-container{
    width: 100%;
    max-width: 600px;
    margin: 20px auto 0 auto;
    padding: 0 15px;
    text-align: center;
}
#svg-container{
    width: 100%;
    margin-bottom: 25px;
}
svg{
    max-height: 39px;
    fill: rgba(29, 161, 242, 1.00);
}
span{
    font-size: 23px;
    font-weight: bold;
    margin: 30px 0 10px;
}
#email-container{
    width: 100%;
    height: 79px;
    margin-top: 10px;
    padding: 10px 15px;
}
#email-container div{
    width: 100%;
    height: 50%;
    font-size: 15px;
    color: rgb(101, 119, 134);
    font-weight: 400;
    background: rgb(245, 248, 250);
    display: grid;
    align-items: center;
    justify-content: start;
    padding: 5px 10px 0;
}
#email-container input{
    width: 100%;
    height: 50%;
    outline: none;
    border: none;
    background: rgb(232, 240, 254);
    border-bottom: 2px solid rgb(101, 119, 134);
    padding: 9px 10px 8px;
    font-size: 19px;
    height: 35px;
}
#password-container{
    width: 100%;
    height: 79px;
    padding: 10px 15px;
}
#password-container div{
    width: 100%;
    height: 50%;
    font-size: 15px;
    color: rgb(101, 119, 134);
    font-weight: 400;
    background: rgb(245, 248, 250);
    display: grid;
    align-items: center;
    justify-content: start;
    padding: 5px 10px 0;
}
#password-container input{
    width: 100%;
    height: 50%;
    outline: none;
    border: none;
    background: rgb(232, 240, 254);
    border-bottom: 2px solid rgb(101, 119, 134);
    padding: 9px 10px 8px;
    font-size: 19px;
    height: 35px;
}
#btn-container{
    margin: 15px 10px;
}
#redirect-link{
    margin-top: 25px;
}
#redirect-link a{
    font-size: 15px;
    color: rgb(27, 149, 224);
    cursor: pointer;
    text-decoration: none;
}
#redirect-link a:hover{
    text-decoration: underline;
}
#error{
    color: rgb(224, 36, 94);
    margin-top: 7px;
}
